.featured h1{
    margin: 60px 0px 0px 30px;
  }
  .movie-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 30px;
    margin: 20px 0px;
   
  }
  .movie-card {
    
      text-decoration: none;
      color: black;
      padding: 10px ;
      
      max-width: 300px;
       
    }

    .movie-card:hover{
      box-shadow: 3px 3px 5px #ddd;
    }
    
    .movie-poster {
      max-width: 100%;
      /* height: auto; */
   
    }
    
    .movie-details {
      text-align: center;
    }
    